<h1>Welcome to {{hotelsName}}</h1>
<div class="container">


<div [hidden]="hideRooms">
    Numbers of Romms:
    <div [ngStyle]="{color: rooms.availableRooms?'green':'red'}"[innerText]="numbersOfRooms" style="font-size: larger;"></div>
</div>

{{rooms?.availableRooms ?? 'No rooms'}}

<!-- <div *ngIf="rooms.availableRooms > 0"> -->

<!-- <div *ngIf="selectedRoom">{{selectedRoom | json}}</div> -->
<!-- <div *ngIf="(rooms.availableRooms>0 )"> -->
Room List
<!-- {{roomsList | json}}> -->
<!-- </div> -->

<button class="col-12 btn btn-primary" (click)="toggle()">Hide</button>
<button class="col-12 btn btn-success" (click)="addRoom()">Add Room</button>

<hinv-roomlist 
[rooms] = "roomsList"
(selectedRoom)="roomSelected($event)"
>
</hinv-roomlist>



</div>
<!-- document.getElemntById('numbersOfRooms').innerText = numbersOfRooms -->