
    <table>
        <tr>
            <th>Index</th>
            <th>Even/Odd</th>
            <th>RoomType         </th>
            <th>amendities       </th>
            <th>price        </th>
            <!-- <th>photos       </th> -->
            <th>checkInTime      </th>   
            <th>checkOutTime         </th>     
            <th>Rating         </th>
            <th>Select Room</th>
        </tr>
        <tr [ngClass]="e? 'even': 'odd' " *ngFor="let room of rooms ; let e =even; let o = odd; let i =index;">
        <!-- <tr [ngClass]="e? 'even': 'odd' " *ngFor="let room of rooms  | slice : 0:1; let e =even; let o = odd; let i =index;"> -->
            <td>{{i}}</td>
            <td>{{e?"Even":"Odd"}}</td>
            <td>{{room.RoomType}}</td>
            <td>{{room.amendities | lowercase}}</td>
            <td>{{room.price | currency}}</td>
            <!-- <td>{{room.photos}}</td> -->
            <td>{{room.checkInTime | date :"medium"}}</td>
            <td>{{room.checkOutTime | date}}</td>
            <td>{{room.rating | number :'1.1-2'}}</td>
            <td>
                <button 
                class="btn btn-primary"
                (click)="roomSelected(room)"
                >
                    Select
                </button>
            </td>
        </tr>
    </table>

